<!DOCTYPE html>
<html lang="en">
    <head>
        <meta charset="UTF-8">
        <meta http-equiv="X-UA-Compatible" content="IE=edge">
        <meta name="viewport" content="width=device-width, initial-scale=1.0">
        <title>Dojo Survey</title>
        <link rel="stylesheet" href="{{ url_for('static', filename='css/bootstrap.min.css') }}" integrity="sha384-1BmE4kWBq78iYhFldvKuhfTAU6auU8tT94WrHftjDbrCEXSU1oBoqyl2QvZ6jIW3" crossorigin="anonymous">
        <link rel="stylesheet" href="{{ url_for('static', filename='css/styles.css') }}">
    </head>
    <body>
        <div class="container col-4 mt-5">
            <form class="rounded text-white bg-dark p-5" action="/process" method="post">
                <legend class="text-warning">Dojo Survey</legend>
                <div class="mb-3">
                    <label for="name" class="form-label">Name</label>
                    <input type="text" class="form-control" name="name" placeholder="Write your Name">
                </div>
                <div class="mb-3">
                    <label for="dojo_location" class="form-label">Dojo Location</label>
                    <select name="location" class="form-select" aria-label="Dojo Location">
                        <option selected>-- Select a Location --</option>
                        <option value="Chicago">Chicago</option>
                        <option value="Seattle">Seattle</option>
                        <option value="Online">Online</option>
                        <option value="Burbank">Burbank</option>
                        <option value="Bellevue">Bellevue</option>
                    </select>
                </div>
                <div class="mb-3">
                    <label for="favorite_language" class="form-label">Favorite Language</label>
                    <select name="language" class="form-select" aria-label="Favorite Language">
                        <option selected>-- Select A Language</option>
                        <option value="HTML">HTML</option>
                        <option value="CSS">CSS</option>
                        <option value="JavaScript">JavaScript</option>
                        <option value="Python">Python</option>
                        <option value="CSharp">C#</option>
                    </select>
                </div>                
                <div class="mb-3">
                    <label for="comments" class="form-label">Comments</label>
                    <textarea class="form-control" name="comments" rows="10"></textarea>
                </div>
                <div class="col-auto">
                    <button type="submit" class="btn btn-warning">Submit</button>
                </div>
            </form>
        </div>
    </body>
</html>